@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');

*{
    font-family: DM+Sans;
    box-sizing: border-box;
}

.logo{
    height: 30px;
    width: 30px;
    margin-right: 8px;
}
.PositionNavBar{
    justify-content: end;
}
.PositionLinkNavBar{
    margin-right: 20px;
}
.banner{
    width: 1200px;
    height: 1920px;
    color: blueviolet;
}
#carousel-indicators{
    padding-bottom: 100px;
}
.CentralizaCards{
    
    padding-top: 60px;
}
.IconesRecomendacoes{
    height: 45px;
    width: 45px;
}
.EspacamentoTextos{
    padding-top: 5px;
}
.EspacamentoBlocosHospedagens{
    padding-left: 30px;
    font-size: 25px;
    padding-top: 8px;
}
.EspacamentoBlocosHospedagens2{
    padding-top: 20px;
}
.footerStyle{
    justify-content:space-between;
    border-top: 1px solid #c1c1c1;
}
.rowFooterStyle{
    width: 100%;
}
.secondary-color {
    color: #7a7a7a;
}
  .bg-primary-color {
    background-color: #fff;
  }
  .bg-secondary-color {
    background-color: #ece8ea;
  }
  .bg-dark-color {
    background-color: #050505;
  }
  .primary-color {
    color: #050505;
  }
  .secondary-color {
    color: #7a7a7a;
  }
  /* navbar */
  #navbar {
    border-bottom: 1px solid #7a7a7a;
  }
  #navbar a:hover {
    color: #7a7a7a;
  }
  #navbar a.active {
    border-bottom: 1px solid #050505;
  }
  .navbar-brand {
    display: flex;
  }
  .navbar-brand img {
    width: 40px;
  }
  .navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #navbar-items .nav-item {
    margin: 0 1em;
  }
  #slider {
    margin-top: 8em;
    margin-bottom: 1em;
  }
  #slider .carousel-caption {
    bottom: 3em;
  }
  #slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
  }
  .btn {
    border-radius: 0;
  }
  #slider .btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
  }
  .carousel-control-prev i,
  .carousel-control-next i {
    color: #111;
    font-size: 3em;
  }
  .carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: 0.8;
  }
  .carousel-indicators .active {
    background-color: #000;
  }
  @media (min-width: 768px) {
    #slider .carousel-caption {
      bottom: 15em;
    }
    #slider .carousel-caption h5 {
      font-size: 4em;
      text-shadow: #000 2px 3px;
    }
    #slider .btn {
      padding: 0.6 1.6em;
      font-size: 1.2em;
      margin-top: 1em;
    }
    .carousel-indicators {
      bottom: 7em;
    }
  }
  #mini-banner {
    margin-bottom: 4em;
  }
  .mini-banners .card {
    padding: 2m;
    border-radius: 0;
    margin-bottom: 1em;
  }
  #mini-banners i {
    font-size: 4em;
  }
  #mini-banners .card-title {
    margin-bottom: 1.5em;
  }
  #mini-banners .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
  }
  @media (min-width: 768px) {
    #mini-banners {
      margin-top: -6em;
    }
  }
  
  /* INFO */
  #info-content {
    margin-bottom: 4em;
    padding: 4em 1em;
  }
  #info-numbers {
    margin: 1.5em 0em;
  }
  #info-banner {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
  }
  #info-numbers h3 {
    font-size: 3em;
  }
  @media (min-width: 768px) {
    #info-content {
      padding: 3em;
    }
  }
  /* FOOTER TOP */
  #footer {
    padding: 3em 2em;
  }
  #footer-top {
    margin-bottom: 2em;
  }
  #footer-top,
  #footer-top i {
    color: #fff;
  }
  #social-icons {
    text-align: right;
  }
  #social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
  }
  #social-icons i:hover {
    color: #7a7a7a;
  }
  /* detalhes do footer */
  #footer-datails {
    margin-bottom: 3em;
  }
  #news-container,
  #contact-container,
  #links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
  }
  #footer-datails h4 {
    color: #fff;
    margin-bottom: 1.4em;
  }
  #news-container input {
    border-radius: 0;
    border: none;
  }
  #links-container li {
    margin-bottom: 0.5em;
  }
  #links-container a {
    text-decoration: none;
  }
  #links-container a:hover {
    color: #fff;
  }
  /* footer-boottom */
  #footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
  }
  #footer-bottom i {
    color: red;
    margin-left: 0.3em;
  }
  @media (min-width: 768px) {
    #news-container {
      padding-right: 2em;
    }
    #link-container {
      padding-left: 2em;
    }
    #contact-cotainer {
      padding: 0 2em;
      border-left: 1px solid #7a7a7a;
      border-right: 1px solid #7a7a7a;
    }
  }
  


